.bttn-01 {padding: 10px 25px; background-color: #614b9f;color: white;font-size: 16px;font-weight: bold;letter-spacing: 1px;border: 3px solid #a494d0;border-radius: 20px; }
.bttn-02 {padding: 10px 25px; background-color: red;color: white;font-size: 16px;font-weight: bold;letter-spacing: 1px;border: 3px solid #ffacac;border-radius: 20px; }
.bttn-03 {padding: 10px 25px; background-color: green;color: white;font-size: 16px;font-weight: bold;letter-spacing: 1px;border: 3px solid #0ee00e;border-radius: 20px; }
.bttn-04 { padding: 14px 0px;width: 100%;font-size: 18px;border-radius: 10px; }
.bttn-05 {padding: 10px 25px; background-color: #fed70c;color: white;font-size: 18px;font-weight: bold;letter-spacing: 1px;border: 3px solid #f9d30c;border-radius: 20px; }

.bttn-disabled { opacity: 0.4; }

.bttn-06 { padding: 3px 20px; font-size: 14px; border-radius: 10px; }
.bttn-07 {padding: 10px 25px; background-color: #1e7fcc;color: white;font-size: 14px;font-weight: bold;letter-spacing: 1px;border: 3px solid #2381cc;border-radius: 20px; }

.bttn-toggle-01 {display: block;width: 60px;height: 30px;}
.bttn-toggle-01 .line-base {position: absolute;margin-top: 10px; width: 100%;height: 10px;border-radius: 10px; background-color: #d6d6d6;}
.bttn-toggle-01 .thumb {position: absolute;width: 30px;height: 30px;border-radius: 50%;}
.bttn-toggle-01 .on { background-color: #fed70c;} 
.bttn-toggle-01 .off { background-color: #cac5c5;}

.bttn-toggle-02 {display: block;width: 60px;height: 30px;}
.bttn-toggle-02 .line-base {position: absolute;margin-top: 10px; width: 100%;height: 10px;border-radius: 10px; background-color: #d6d6d6;}
.bttn-toggle-02 .thumb {position: absolute;width: 30px;height: 30px;border-radius: 50%;}
.bttn-toggle-02 .on { background-color: #fed70c;margin-left: 30px;} 
.bttn-toggle-02 .off { background-color: #cac5c5;margin-left: 0px;}

.bttn-brd-01 { border: 1px solid #d2cece; }

.app-rate-bttn-01 { padding: 8px 20px;border: 1px solid #fed70c;border-radius: 6px;}
.app-rate-bttn-01 svg { width: 22px; height: 22px;vertical-align: middle; }
.app-rate-bttn-01 span { font-size: 22px;color: #ffa500;font-weight: bold; }


@media only screen and (min-width: 320px) and (max-width: 360px) {

}

@media only screen and (min-width: 361px) and (max-width: 375px) {

}

@media only screen and (min-width: 376px) and (max-width: 414px) {

}

@media only screen and (min-width: 415px) and (max-width: 481px) {

}

@media only screen and (min-width: 482px) and (max-width: 768px) {

}


