.bg-yellow { background-color: #fcd80b !important; }
.bg-orange { background-color: #fdb813 !important; }
.bg-purple { background-color: #614b9f !important; }
.bg-purple-light { background-color: #b7a3cf !important; }
.bg-white { background-color: white !important; }
.bg-darkwhite { background-color: #b7a3cf21 !important; }
.bg-purple-ligher { background-color: #d1cbe3 !important; }
.bg-light-gray { background-color: #8d8c8c !important; }
.cl-black { color: #1f1b2d !important; }
.cl-gray { color: #5f5f5f !important; }
.cl-yellow { color: #fcd80b !important; }
.cl-orange { color: #fdb813 !important; }
.cl-purple { color: #614b9f !important; }
.cl-purple-light { color: #b7a3cf !important; }
.cl-white { color: white !important;}
.cl-red { color: red !important; }
.cl-light-gray { color: #8d8c8c !important; }