.bg-yellow { background-color: #fed70c !important; }
.bg-orange { background-color: #fdb813 !important; }
.bg-purple { background-color: #614b9f !important; }
.bg-purple-light { background-color: #b7a3cf !important; }
.bg-white { background-color: white !important; }
.bg-darkwhite { background-color: #b7a3cf21 !important; }
.bg-purple-ligher { background-color: #d1cbe3 !important; }
.bg-light-gray { background-color: #8d8c8c !important; }
.bg-lightest-gray { background-color: #f7f9fc !important; }
.bg-facebook { background-color: #0095ff !important; }
.bg-transparent { background-color: transparent !important; }
.bg-info-lightblue { background-color: #c8e8f7 !important; }
.bg-red { background-color: red !important; }
.bg-blocker { background-color: #0606063b; }
.bg-black { background-color: #666273 !important; }
.cl-black { color: #666273 !important; }
.cl-gray { color: #5f5f5f !important; }
.cl-light-gray { color: #8d8c8c !important; }
.cl-yellow { color: #fed70c !important; }
.cl-orange { color: #fdb813 !important; }
.cl-dark-orange { color: #d04a0a !important; }
.cl-purple { color: #614b9f !important; }
.cl-purple-light { color: #b7a3cf !important; }
.cl-white { color: white !important;}
.cl-red { color: red !important; }
.cl-green { color: green !important; }
