.wrapper { width: 100%; box-sizing: border-box; }
.abs-fit-screen { position: absolute; top: 0px; left: 0px; width: 100%;height: 100%; }
.rel-fit-screen { position: relative;width: 100%;height: 100px;top: 0px;left: 0px; }
.wrap-cont { margin: 2%;}
.d-none { display: none; }
.d-block { display: block; }
.d-flex { display: flex; }
.d-f-sb { display: flex; flex-wrap: wrap; justify-content: space-between; }
.d-f-sa { display: flex; flex-wrap: wrap; justify-content: space-around; }
.d-f-st { display: flex; flex-wrap: wrap; justify-content: flex-start; }
.d-f-ed { display: flex; flex-wrap: wrap; justify-content: flex-end; }