/* Common container */

.wrapper { width: 100%; box-sizing: border-box; }
.fxd-fit-screen { position: fixed; top: 0px; left: 0px; width: 100%;height: 100%; }
.abs-fit-screen { position: absolute; top: 0px; left: 0px; width: 100%;height: 100%; }
.rel-fit-screen { position: relative;width: 100%;height: 100%;top: 0px;left: 0px; }
.wrap-cont { margin: 2%;}
.d-none { display: none; }
.d-block { display: block; }
.d-flex { display: flex; }
.d-f-sb { display: flex; flex-wrap: wrap; justify-content: space-between; }
.d-f-sa { display: flex; flex-wrap: wrap; justify-content: space-around; }
.d-f-st { display: flex; flex-wrap: wrap; justify-content: flex-start; }
.d-f-ed { display: flex; flex-wrap: wrap; justify-content: flex-end; }

/* Common component container */
.fox-base-container {position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;}
.fox-base-container .header {position: absolute;top: 0px;width: 100%;height: 120px;}
.fox-base-container .header .logo {position: absolute;top: 5px;left: 10px;width: auto;height: 70px;}
.fox-base-container .header .top {width: 100%;height: 30px;}
.fox-base-container .header .center {width: 100%;height: 50px;}
.fox-base-container .header .center .profile-pic { width: 40px;height: 40px;margin: 5px; }
.fox-base-container .header .center .profile-pic img { width: 40px;height: 40px;}
.fox-base-container .header .center .profile-info { width: auto;height: 35px;margin: 10px 5px 0px 0px; }
.fox-base-container .header .center .profile-info p { font-family: sans-serif;text-align: right;letter-spacing: 1px; }
.fox-base-container .header .center .profile-info .name { font-size: 16px;font-weight: bold; }
.fox-base-container .header .center .profile-info .address { font-size: 14px;margin-top: 3px;}
.fox-base-container .header .bottom {width: 100%;height: 40px;}
.fox-base-container .header .bottom .menu-base {position: relative; width: 30px;height: 30px;margin: 5px;}
.fox-base-container .header .bottom .menu-base img { width: 26px;height: 26px;margin: 2px; }
.fox-base-container .header .bottom .menu-base .counter {position: absolute;top: -3px;right: 0px;padding: 2px 3px;font-family: sans-serif; font-size: 11px;color: white;background-color: red;border-radius: 3px; }
.fox-base-container .body {position: absolute;top: 120px;width: 100%;height: calc(100% - 170px);background-color: transparent;overflow: auto;}
.fox-base-container .footer {position: absolute;bottom: 0px;width: 100%;height: 50px;}
.fox-base-container .footer .menu-base {position: relative;width: 50px;height: 50px;}
.fox-base-container .footer .menu-base .icon { width: 40px;height: 40px;margin: 5px; }
.fox-base-container .footer .menu-base .counter {position: absolute;top: 5px;right: 0px;padding: 2px 3px;font-family: sans-serif; font-size: 12px;color: white;background-color: red;border-radius: 4px;opacity: 0; }

.app-h-iconized-item { display: flex;padding: 5px;background-color: #f7f7f780; }
.app-h-iconized-item .icon { width: 60px;height: 60px;border-radius: 6px;background-color: white; }
.app-h-iconized-item .icon img { width: 60px;height: 60px;object-fit: cover;border-radius: 6px; }
.app-h-iconized-item .detail { padding-left: 10px;}

.app-currency-input-box-01 {display: flex;width: 100%;border-radius: 8px;box-sizing: border-box;overflow: hidden;}
.app-currency-input-box-01 .left {width: 60px;height: 45px;line-height: 45px;font-size: 20px;font-weight: bold;text-align: center;}
.app-currency-input-box-01 .right {width: calc(100% - 60px);}
.app-currency-input-box-01 .right input[type='number'] {outline: none; width: 100%;padding: 14px 20px;box-sizing: border-box;border: none;background-color: #f5f4f4;border-top-right-radius: 8px;border-bottom-right-radius: 8px;text-align: center;font-size: 16px;}

.app-toggle-cont-bttn-01 { width: 20px;height: 20px; }
.app-toggle-cont-cont-01 { display: none; }

.app-itembox {display: flex;background-color: white;border-radius: 10px;overflow: hidden;}
.app-itembox .cover {width: 80px;height: 80px;object-fit: cover;}
.app-itembox .cover-profile-pic {width: 50px;height: 50px;object-fit: cover;margin: 15px;box-sizing: border-box;}
.app-itembox .detail {padding: 10px;}
.app-itembox .detail-02 {padding: 10px;width: calc(100% - 100px)}
.app-address-box {display: flex;border: 1px solid #d4d1d1;padding: 10px;border-radius: 10px;}
.app-address-box .cover {width: 80px;height: 80px;background-color: black;border-radius: 10px;}
.app-address-box .detail {padding-left: 10px;}
.app-address-box .detail svg {padding-right: 10px;}
.app-address-box .detail .icon {margin-top: 5px;vertical-align: middle;}

.app-extend-view-01 {position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;background-color: #15141447;box-sizing: border-box;z-index: 350;display: none;opacity: 0;}
.app-extend-view-01 .header {width: 100%;height: 60px;}
.app-extend-view-01 .body {margin-top: 500px;width: 100%;height: calc(100% - 60px);border-top-right-radius: 20px;border-top-left-radius: 20px;opacity: 0;}
.app-extend-view-01 .body .container {padding: 15px;overflow: auto;max-height: 100%;}

.app-searchbox {display: flex;width: 100%;height: 50px;}
.app-searchbox .side {width: 50px;height: 50px;}
.app-searchbox .center {width: calc(100% - 100px);height: 50px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;overflow: hidden;background-color: white;}
.app-searchbox .search-icon-base {background-color: white;border-top-left-radius: 8px;border-bottom-left-radius: 8px;}
.app-searchbox .center input[type='text']{outline: none;border: none;box-sizing: border-box;width: 100%;height: 50px;}
.app-searchbox .app-searchbox-icon {width: 50px;height: 50px;object-fit: cover;box-sizing: border-box;}
.app-searchbox .search-icon {opacity: 1;padding: 5px;}
.app-searchbox .loading-icon {padding: 10px;opacity: 0;}

.app-empty-icon-01 {display: block;margin: 40px auto 0px auto;width: 60px;height: auto;}

.dh-40px { height: 40px; }
.dh-15px { height: 15px; }

.box-shadow-01 { box-shadow: 3px 1px 3px 3px #00000008; }
.box-shadow-02 { box-shadow: -1px 9px 7px 0px #80808036; }

.v-a-middle { vertical-align: middle; }

.opacity-0 { opacity: 0; }
.opacity-1 { opacity: 1; }

.overflow-auto { overflow: auto; }

.cursor-pointer { cursor: pointer; }

@media only screen and (min-width: 320px) and (max-width: 360px) {

}

@media only screen and (min-width: 361px) and (max-width: 375px) {

}

@media only screen and (min-width: 376px) and (max-width: 414px) {

}

@media only screen and (min-width: 415px) and (max-width: 481px) {

}

@media only screen and (min-width: 482px) and (max-width: 768px) {

}


