.select-01 {
  outline: none;
  width: 100%;
  border: none;
  box-sizing: border-box;
  padding: 12px 0px;
  font-size: 16px;
  padding: 14px 20px;
  border-radius: 3px;
  border: 1px solid #ccc;

  appearance: none;
  background: url(../img/arrow-down.png) white no-repeat;
  background-size: 20px 20px;
  background-position: calc(100% - 20px) center;
}