.input-01 {
  outline: none; 
  width: 100%;
  padding: 14px 20px;
  box-sizing: border-box;
  border: none;
  background-color: white;
  border-radius: 3px;
  border-bottom: 1px solid yellow;
}
.input-02 {
  outline: none; 
  width: 100%;
  padding: 14px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f5f4f4;
  text-align: center;
  border: 1px solid #ccc;
}
.input-03 {
  outline: none; 
  width: 100%;
  padding: 6px 18px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  border-radius: 3px;
}
.input-04 {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}
.input-05 {
  outline: none;
  border: none;
  background-color: transparent;
}
.otp-input-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}
.otp-input-box input[type='number'] {
  outline: none;
  width: 40px;
  border: none;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #2e2c35;
}
.textarea-01 {
  outline: none;
  border: none;
  box-sizing: border-box;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 100px;
  background-color: #f5f4f4;
  border-radius: 8px;
  padding: 10px;
}

