  footer {
    padding: 30px 0px 50px;
    background-color: black;
  }
  footer .logo {
    display: block;
    margin: 0px auto;
    width: auto;
    height: 30px;
  }
   footer ul {
    display: block;
    margin: 0px auto;
    max-width: 600px;
   }
  footer ul li {
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    padding: 20px 20px;
  }
  .foxcity-join {
    display: block;
    margin: 20px auto;
  }
  .foxcity-join input[type='email'] {
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    outline: none;
    border: 1px solid #cecdcd;
    border-radius: 6px;
  }
  .foxcity-join textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    box-sizing: border-box;
    padding: 15px 20px;
    outline: none;
    border: 1px solid #cecdcd;
    border-radius: 6px;
  }
  .foxcity-join .bttn-join-us {
    background: rgb(254,215,12);
    background: linear-gradient(149deg, rgba(254,215,12,1) 0%, rgba(254,215,12,1) 31%, rgba(246,247,167,1) 100%);
  }
  .home-screen {
    background-color: #d8d5d559;
  }
  .home-screen .how-it-works .item img {
    display: block;
    margin: 0px auto ;
    width: auto;
    height: 250px;
  }
  .home-screen .long-desc {
    max-width: 400px;
    line-height: 1.5;
    color: black;
  }
  .home-screen .icon-text {
    margin-top: 160px;
    height: auto;
  }
  .home-screen .hamburger-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .home-screen .hamburger-menu .sp-menu-list li {
    padding: 10px 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
  } 
  .home-screen .top {
    width: 100%;
    height: auto;
    background: rgb(254,215,12);
    background: linear-gradient(149deg, rgba(254,215,12,1) 0%, rgba(254,215,12,1) 31%, rgba(246,247,167,1) 100%);
  }
  .home-screen .top .header-icon {
    width: 30px;
    height: 30px;
  }
  .home-screen .top .menu ul li {
    display: inline-block;
    color: black;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 2;
    padding: 8px 20px;
    background-color: transparent;
  }
  .home-screen .top .menu ul li:hover {
    background-color: #f3ecec5c;
  }
  .home-screen .bottom {
    width: 100%;
    height: auto;
  }
  .home-screen .mobile-hand {
    margin-top: 60px;
    margin-bottom: -12px;
  }
  .about-foxcity {
    display: block;
    margin: 50px auto;
  }

  @media only screen and (min-width: 320px) and (max-width: 500px) {
    .foxcity-join {
      width: 100%;
    }
    .about-foxcity {
      display: block;
      width: 100%;
    }
    .about-foxcity img {
      width: 100%;
    }
    .how-it-works .items {
      display: block;
      margin: 50px auto 0px auto;
    }
    .home-screen .cont {
      padding: 0px 20px;
    }
    .home-screen .top-left {
      padding-left: 20px;
    }
    .home-screen .top .menu ul {
      display: none;
    }
    .home-screen .top .menu .sp-menubar {
      display: block;
    }
    .home-screen .mobile-hand {
      width: 100%;
      height: auto;
    }
    .home-screen .icon-text {
      width: 200px;
    }
  }

   @media only screen and (min-width: 501px) and (max-width: 1200px) {
    .foxcity-join {
      width: 400px;
    }
    .about-foxcity {
      display: block;
      width: 80%;
    }
    .about-foxcity img {
      width: 250px;
    }
    .how-it-works .items {
      display: unset;
      margin: unset;
    }
    .home-screen .cont {
      padding: 0px 80px;
    }
    .home-screen .top-left {
      padding-left: 80px;
    }
    .home-screen .top .menu ul {
      display: block;
    }
    .home-screen .top .menu .sp-menubar {
      display: none;
    }
    .home-screen .mobile-hand {
      width: 100%;
      height: auto;
    }
    .home-screen .icon-text {
      width: 300px;
    }
  }

  @media only screen and (min-width: 1201px) {
    .foxcity-join {
      width: 400px;
    }
    .about-foxcity {
      display: flex;
      width: 1000px;
    }
    .about-foxcity img {
      width: 500px;
    }
    .home-screen .cont {
      padding: 0px 100px;
    }
    .home-screen .top-left {
      padding-left: 100px;
    }
    .home-screen .top .menu ul {
      display: block;
    }
    .home-screen .top .menu .sp-menubar {
      display: none;
    }
    .home-screen .top-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .home-screen .mobile-hand {
      width: 500px;
      height: auto;
    }
    .home-screen .icon-text {
      width: 300px;
    }
  }