.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #3f51b552;
  z-index: 900;
  display: none;
}
.loading .loader {
  display: block;
  margin: 200px auto 0px auto;
  border: 5px solid white;
  border-top: 5px solid #fed70c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
  .home .header .search .left input[type='text'] { width: 200px; }
}