.pd-3 { padding: 3px; }
.pd-5 { padding: 5px; }
.pd-10 { padding: 10px; }
.pd-15 { padding: 15px; }
.pd-20 { padding: 20px; }

.pdt-5 { padding-top: 5px; }
.pdt-10 { padding-top: 10px; }
.pdt-15 { padding-top: 15px; }
.pdt-20 { padding-top: 20px; }
.pdt-25 { padding-top: 25px; }
.pdt-30 { padding-top: 30px; }
.pdt-35 { padding-top: 35px; }
.pdt-40 { padding-top: 40px; }
.pdt-45 { padding-top: 45px; }
.pdt-50 { padding-top: 50px; }
.pdt-55 { padding-top: 55px; }
.pdt-60 { padding-top: 60px; }
.pdt-65 { padding-top: 65px; }
.pdt-70 { padding-top: 70px; }

.pdb-5 { padding-bottom: 5px; }
.pdb-10 { padding-bottom: 10px; }
.pdb-15 { padding-bottom: 15px; }
.pdb-20 { padding-bottom: 20px; }
.pdb-25 { padding-bottom: 25px; }
.pdb-30 { padding-bottom: 30px; }
.pdb-35 { padding-bottom: 35px; }
.pdb-40 { padding-bottom: 40px; }
.pdb-45 { padding-bottom: 45px; }
.pdb-50 { padding-bottom: 50px; }
.pdb-55 { padding-bottom: 55px; }
.pdb-60 { padding-bottom: 60px; }
.pdb-65 { padding-bottom: 65px; }
.pdb-70 { padding-bottom: 70px; }

.pdl-5 { padding-left: 5px; }
.pdl-10 { padding-left: 10px; }
.pdl-15 { padding-left: 15px; }
.pdl-20 { padding-left: 20px; }
.pdl-25 { padding-left: 25px; }
.pdl-30 { padding-left: 30px; }

.pdr-5 { padding-right: 5px; }
.pdr-10 { padding-right: 10px; }
.pdr-15 { padding-right: 15px; }
.pdr-20 { padding-right: 20px; }
.pdr-25 { padding-right: 25px; }
.pdr-30 { padding-right: 30px; }