.splash-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.splash-screen .logo {
  display: block;
  margin: 210px auto 0px auto;
  width: 260px;
  height: auto;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {

}

@media only screen and (min-width: 376px) and (max-width: 414px) {
  
}

@media only screen and (min-width: 415px) and (max-width: 750px) {
  
}

@media only screen and (min-width: 751px) {
  
}