.splash-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.splash-screen .face, .splash-screen .text, .splash-screen .type {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.splash-screen .face {
  width: 90px;
  height: auto;
  margin-top: 140px;
}
.splash-screen .text {
  width: 60%;
  height: auto;
  margin-top: 10px;
}
.splash-screen .type {
  width: 50%;
  height: auto;
  margin-top: 100px;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {

}

@media only screen and (min-width: 376px) and (max-width: 414px) {
  
}

@media only screen and (min-width: 415px) and (max-width: 750px) {
  
}

@media only screen and (min-width: 751px) {
  
}