.txt-01 { font-family: sans-serif; font-size: 16px;font-weight: bold; }
.txt-02 { font-family: sans-serif; font-size: 14px;font-weight: normal; }
.txt-03 { font-family: sans-serif; font-size: 20px;font-weight: bold; }
.txt-04 { font-family: sans-serif; font-size: 25px;font-weight: bold; }
.txt-05 { font-family: sans-serif; font-size: 12px;font-weight: normal; }

.title-01 {padding: 8px 10px;font-family: sans-serif;font-size: 16px;color: white;background-color: #fdb813; }

.fs-11 { font-size: 11px; }
.fs-12 { font-size: 12px; }
.fs-14 { font-size: 14px; }
.fs-15 { font-size: 15px; }
.fs-16 { font-size: 16px; }
.fs-18 { font-size: 18px; }
.fs-20 { font-size: 20px; }
.fs-25 { font-size: 25px; }
.fs-30 { font-size: 30px; }
.fs-35 { font-size: 35px; }
.fs-40 { font-size: 40px; }

.fw-b { font-weight: bold; }
.fw-n { font-weight: normal; }

.txt-a-l { text-align: left; }
.txt-a-c { text-align: center; }
.txt-a-r { text-align: right; }

.txt-deco-none { text-decoration: none; }
.txt-deco-ul { text-decoration: underline; }

.lh-1 { line-height: 1; }
.lh-1-5 { line-height: 1.5; }
.lh-30 { line-height: 30px; }

.fnt-fa { font-family: sans-serif; }

.ls-1 { letter-spacing: 1px; }
.ls-2 { letter-spacing: 2px; }
.ls-3 { letter-spacing: 3px; }

@media only screen and (min-width: 320px) and (max-width: 360px) {

}

@media only screen and (min-width: 361px) and (max-width: 375px) {

}

@media only screen and (min-width: 376px) and (max-width: 414px) {

}

@media only screen and (min-width: 415px) and (max-width: 481px) {

}

@media only screen and (min-width: 482px) and (max-width: 768px) {

}
