.txt-01 { font-family: sans-serif; font-size: 16px;font-weight: bold; }
.txt-02 { font-family: sans-serif; font-size: 14px;font-weight: normal; }
.txt-03 { font-family: sans-serif; font-size: 20px;font-weight: bold; }

.title-01 {padding: 8px 10px;font-family: sans-serif;font-size: 16px;color: white;background-color: #fdb813; }

.fs-11 { font-size: 11px; }
.fs-12 { font-size: 12px; }
.fs-14 { font-size: 14px; }
.fs-15 { font-size: 15px; }
.fs-16 { font-size: 16px; }
.fs-18 { font-size: 18px; }
.fs-20 { font-size: 20px; }

.fw-b { font-weight: bold; }
.fw-n { font-weight: normal; }

.txt-a-l { text-align: left; }
.txt-a-c { text-align: center; }
.txt-a-r { text-align: right; }

.txt-deco-none { text-decoration: none; }
.txt-deco-ul { text-decoration: underline; }
